body {
  /* background-color: cadetblue; */
  background-image: url("./media/clouds.jpg");  
  /* font-family: "Trirong", serif; */
}
.appBox {
  background-color: #ADD7F6;
  width: 450px;
  height: 600px;
  border: 2px solid;
  border-radius: 10px;
  margin: auto;
}
.locationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weatherBox {
  margin: auto;
  text-align: center;
  width: 350px;
  height: 350px;
}
.forecast {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  overflow: auto;
}
.currentWeather {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .appBox {
    width: 350px;
  }
}