body {
  /* background-color: cadetblue; */
  background-image: url("./media/clouds.jpg");  
  /* font-family: "Trirong", serif; */
}
.appBox {
  background-color: cornsilk;
  width: 450px;
  height: 450px;
  border: 2px solid;
  border-radius: 10px;
  margin: auto;
}
.locationBtn {
  margin: auto;
  ;
}
.weatherBox {
  text-align: center;
  width: 350px;
  height: 350px;
}